* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(circle, rgba(34,193,195,1) 23%, rgba(253,187,45,0.1) 77%);
}
.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}