.start_btn {
    width: 700px;
    height: 160px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 25px;
    outline: none;
    color: white;
    background-color: #7364af;
    font-family: cursive;
    font-size: 50px;
    text-shadow: 5px 5px 3px red;
}

.start_btn:hover {
    background-color: rgb(255, 255, 255);
    color: #222222;
    transition: .6s all ease;
}

.text_game {
    color: aliceblue;
}

h3 {
    margin-bottom: 50px;
    font-size: 150px;
    text-shadow: 5px 5px 3px #343435;
    padding: 30px 150px;
    border: 8px solid rgb(188, 45, 204);
    border-radius: 25px;
    box-shadow: 1px 1px 21px -55px rgba(188, 54, 228, 0.6);
}



